.not-found-page {
  text-align: center;
  padding: 1rem;
  background-color: #f5f9fc;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-page p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.not-found-page .btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.not-found-page .btn:hover {
  background-color: #0056b3;
}

.not-found-image {
  max-width: 25%;
  min-width: 300px;
  height: auto;
  margin-bottom: 1rem;
}
